extends index


block links
    li
        a(href='index.html') home
    li about
    li contact
    li
        a(href='homeArabic.html') عربي

block page-content
    //start description section
    div(class="p-desc center padding")
        .container
            p Increase awareness and implement lifestyle programs to prevent and cure diabetes and to improve the lives of all people affected by diabetes. As we are committed to supporting you and your family in every step of your journey with diabetes.
            <hr>
    .container-fluid
        //start aside bar
        aside(class="list pull-left padding")
                section
                    h2(class="upper h1") Categories
                    ul.unstyle
                        li.active
                            a(href="#") Test Strips
                        li
                            a(href="#") Glucose Meters
                        li
                            a(href="#") Incontivence Supplies
                        li
                            a(href="#") Socks &amp; Footwear
                        li
                            a(href="#") Travel Back
                    
            
        //start test strips products
        section(class="products pull-left padding")
                .row
                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 ACCU-CHEK <span>performa</span>
                            img(src="images/Strips/Acc%20check%20performa.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 ACCU-CHEK <span>active</span>
                            img(src="images/Strips/Active.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 BIONIME
                            img(src="images/Strips/Bionime%20Yallow.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 BIONIME
                            img(src="images/Strips/bionime-blue.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 Contour TS
                            img(src="images/Strips/contour%20Ts.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 Element 
                            img(src="images/Strips/element.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 FreeStyle <span>Lite</span>
                            img(src="images/Strips/free%20style%20lite.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 FreeStyle <span>Optium</span>
                            img(src="images/Strips/free%20style%20optium.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 GlucoStar
                            img(src="images/Strips/glucostar.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 Medisign
                            img(src="images/Strips/medisign.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 Accu-CHEK
                            img(src="images/Strips/Accu%20check%20performa.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 On Call Plus
                            img(src="images/Strips/on%20call%20plus.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 OneTouch <span>Ultra</span>
                            img(src="images/Strips/one%20touch%20ultra.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 OneTouch <span>Select</span>
                            img(src="images/Strips/onetouch%20select.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 SmartTest
                            img(src="images/Strips/smart%20test.jpg")
                            p for the determination of blood glucose
                            h4 33 LE

                    div(class="col-lg-4 col-sm-6")
                        .item
                            h3 GlucoDr
                            img(src="images/Strips/Glucodr.jpg")
                            p for the determination of blood glucose
                            h4 33 LE
                        
        .clear              